# Base locale (pour développement)
MONGO_URI_DEV=mongodb://localhost:27017/marketdev
# Base en ligne (pour production)
MONGO_URI_PROD=mongodb+srv://<USERNAME>:<PASSWORD>@cluster0.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
PORT=5001